<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          {%- assign issue_page_title = page.title | default: site.title -%}
          {%- capture issue_title -%}Issue on {{ issue_page_title }}{%- endcapture -%}
          {%- capture issue_body -%}Page: {{ page.url | absolute_url }}

What went wrong?{%- endcapture -%}
          <li><a href="https://github.com/Ashok314/ashok314.github.io/issues/new?title={{ issue_title | uri_escape }}&amp;body={{ issue_body | uri_escape }}">Report an issue</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
